
<div class="partial-login">

	<div class="container">

    <form class="form-signin" ng-submit="login()">

      <h2 class="form-signin-heading">Stock douelles</h2>

      <br>
      <br>



      <div ng-class="classErrorEmail">

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email" required autofocus>
        
      </div>

      <div ng-class="classErrorPassword">

        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" ng-class="borderRed" class="form-control" ng-model="user.password" placeholder="Mot de passe" required>
        
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>

      <br>
      <p ng-show="message" class="text-danger">{{ message }}</p>

    </form>


  </div>
</div>